/*Banner inner*/

.section-banner-inner {
    min-height: 267px;
    z-index: -1;
}
.section-banner-inner::after{
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/banner-inner.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5);

}
/*.section-banner-inner .overlay{*/
/*    background-color: rgba(0,0,0,.3);*/
/*    width: 100%;*/
/*    height: calc(100% - 22px);*/
/*    bottom: 0;*/
/*    position: absolute;*/
/*}*/
.section-banner-inner h2{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: bold;
    color: white;
    font-size: 40px;
}
.breadcrumb{
    background-color: transparent!important;

}
.breadcrumb a{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFD300;
    text-decoration: none;
}
.breadcrumb-item + .active{
    color: white;
}
.breadcrumb-banner{
    position: relative;
    top: calc(50% - 30px);
    left: 0;
    right: 0;

}
.breadcrumb-item+.breadcrumb-item::before{
    color: white;
    padding-right: 1.5rem;
}
.btn-catalog{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #332A00;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #FFD300;;
    box-shadow: 0px 0px 10px #ffd300;
}
.btn-catalog:hover{
    box-shadow: 0 0 0px #FFD300;
    background: #F6C02A;
    color: white;
}