/*Contact form*/
.section-contact-form{
    background: linear-gradient(to right, #F5C029 50%, #F5F7F7 50%);
    font-family: 'Cuprum';
}
.section-contact-form h2{
    color: #332A00;
    font-weight: 500;
}
.section-contact-form p{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #332A00;
}
.section-contact-form b{
    font-size: 25px;
}
.section-contact-form input[type=text]{
    width: 100%;
}
.section-contact-form textarea{
    min-height: 99px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    resize: none;
    outline: 0 none;
}

.btn-contact-form{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #332A00;
    max-width: 206px;
    background-color: #FFD300;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 0px 10px #ffd300;
}
.section-contact-form form p{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    color: #808080;
}
.section-contact-form a{
    color: #ffd300;
}