h1{
    font-family: 'PF Din Text Comp Pro';
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    color: white;
    overflow-wrap: break-word;
    letter-spacing: 4px;
}
h2{
    font-family: 'PF Din Text Comp Pro';
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    color:#1C1C1C;
    overflow-wrap: break-word;
}
.bordered{
    border: 25px solid #ECECEC;
}
.bordered-small{
    border: 15px solid #ECECEC;
}

/*Tag a*/
.yellow-to-white a{
    color: #F6C02A;
}
.yellow-to-white a:hover{
    color: white;
}
.white-to-yellow a{
    color: white;
}
.white-to-yellow a:hover{
    color: #F6C02A;
}
.btn:hover{
    box-shadow: 0 0 0px #FFD300;
    background: #F6C02A;
    color: white;
}
