header{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
}
header a:hover{
    color: #F5C029;
    text-decoration: none;
}
header nav a:hover{
    color: white!important;
    text-decoration: none;
}
header p{
    color: #525252;
    font-size: 17px;
}
header input{
    border: 0!important;
    background-color: #F4F5F5!important;
}
span#search{
    background-color: #F4F5F5;
    border: 0;
    height: 41px;
}
.header-inner-social-links{
    position: relative;
    background: #A6A6A6;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    height: 25px;

}
.header-inner-social-links i{
    color: white;
    font-size: 18px;
    line-height: 2;
}
.header-inner-social-links:hover{
    background: #F6C02A;
}
.header-inner-logo>img{
    box-shadow: 0 0 15px #e6e6e6;
}
.number-head{
    color:#000000;
    font-size: 20px;
    font-weight: bold;
}
.link-grey-header-dots{
    text-decoration: none;
    border-bottom: 1px dotted #525252;
    color: #525252;
}
.link-grey-header-dot:hover{
    border-bottom: 1px dotted #ffd300;
    color: #ffd300;
}

.nav-wrap{
    background-color: #F5C029;
}
.top-menu{
    text-transform: uppercase;
    margin: -22px 0;
    border-radius: 10px;
}
.top-menu li.nav-item {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;

}
.top-menu li.nav-item:after{
    content: '';
    width: 4px;
    vertical-align: center;
    border-right: 4px dotted white;
}
.top-menu li{
    background-color: #F5C029;
}

.top-menu li.nav-item:last-child:after{
    display: none;
}
.top-menu li.active {
    background-color: rgba(255,255,255,0.3);
}
.top-menu li:hover{
    background-color: rgba(255,255,255,0.3);
}
.top-menu li.active > a {
    color: white!important;
}


.top-menu a{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #332A00;
}