/*
 ##Device = Desktops
 ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1201px) {

}

/*
 ##Device = Laptops, Desktops
 ##Screen = B/w 1025px to 1280px
*/
@media (max-width: 1200px) {
    .section-top-main-block-img{
        left: 0;
        top: 0;
    }
    .icons-centered-border > .row > div{
        border-right: 1px solid #e6e6e6!important;
        border-bottom: 1px solid #e6e6e6!important;
    }
}

/**/
@media (min-width: 990px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }


}
@media (max-width: 990px) {
    header .navbar {
        background-color: #F6C02A;
    }
}
/*
 ##Screen = B/w 768px to 1024px
*/
@media (max-width: 768px) {
    section-top-main-block-img{
        left: 0;
        top: 0;
    }
    .top-menu ul{
        flex-direction: column!important;
    }
    .top-menu li.nav-item:after{
        border: 0;
    }
    .section-contact-form{
        background: none;

    }
    .section-contact-form .container{
        background: linear-gradient(to bottom, #F5C029 50%, #F5F7F7 50%);

    }

}

/*
 ##Device = Low Resolution Tablets, Mobiles (Landscape)
 ##Screen = B/w 481px to 767px
*/
@media (max-width: 400px) {
    .reviews-quotes{
        display: none;
    }
}

/*
 ##Device = Most of the Smartphones Mobiles (Portrait)
 ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

}