
/*Tag a*/
.yellow-to-white a{
    color: #F6C02A;
}
.yellow-to-white a:hover{
    color: white;
}
.white-to-yellow a{
    color: white;
}
.white-to-yellow a:hover{
    color: #F6C02A;
}
/*Header*/
header{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
}
header a{
    color: #332a00;
    text-decoration: none;
    font-size: 18px;
}
header a:hover{
    color: white;
    text-decoration: none;
}
header .input-group-text{
    background: none;
    border-left: 0;
}
header .form-control{
    border-right: 0;

}
header p{
    color: #525252;
    font-size: 17px;
}
header .navbar{
    padding: 0 0;
}
header span.navbar-toggler-icon{
    color: #F5C029;
}
.navbar-nav > .active > a{
    color: #F6C02A;
}
.navbar-toggler{
    background: #332A00;
}
.navbar-toggler i{
    color: #F6C02A;
}
.bold-nav{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
a.nav-link.active{
    color: #F6C02A;
}
ul.dropdown-menu{
    position: relative;
    border-top: 2px solid #F6C02A;
}
ul.dropdown-menu.show::after{
    content: '';
    position: absolute;
    top: -15px;
    opacity: 1;
    left: 35%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #F6C02A;
}

.header-social-links{
    position: relative;
    background: #A6A6A6;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    height: 25px;

}
.header-social-links i{
    color: white;
    font-size: 18px;
    line-height: 2;
}
.header-social-links:hover{
    background: #F6C02A;
}

/*Logo*/
.logo-item{
    border: 10px solid transparent;
    box-shadow: 0 0 10px #e6e6e6;
    margin-top: 10px;
}

.logo-slider{
    overflow-y: visible!important;
}
/*img.d-block.mx-auto {*/
/*    width: 100%;*/
/*}*/


/*Text-2*/
.section-text-2 p{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    color: #525252;
    font-size: 17px;
}
.section-text-2 a{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: #f3bf29;
}



/*Best solution*/
.section-best-solution{
    background-color:#F5F7F3;
}
.bs-sub-title{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    color: #525252;
}
.solution-test{
    background-color: white;
    min-height: 265px;
    box-shadow: 0 0 10px #e6e6e6;
}
.solution-test h5{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #F3BF29;
}
.section-best-solution label{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    color: #444444;
    font-size: 18px;
}
.section-best-solution span{
    color: #FF7E26;
}
.btn-next-step{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #332A00;
    max-width: 206px;
    background-color: #FFD300;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 0px 10px #ffd300;
}
.btn-next-step:hover{
    box-shadow: none;
}
#msform fieldset:not(:first-of-type) {
    display: none
}
.saler h6{
    font-family: 'Cuprum';
    font-style: normal;
    color: #525252;
    font-size: 20px;
    font-weight: bold;
}
.saler-position{
    font-family: 'Cuprum';
    font-style: normal;
    color: #525252;
    font-weight: normal;
    font-size: 17px;
}
.saler-text{
    font-family: 'Cuprum';
    font-style: normal;
    color: #525252;
    font-weight: normal;
    font-size: 16px;
}
.section-best-solution input[type='radio'] {
    display: none;
}
.section-best-solution label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid #e6e6e6;
    background-color: transparent;
}
.section-best-solution input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    left: 25px;
    content: " ";
    display: block;
    background: #F6C02A;
}
