h1{
    font-family: 'PF Din Text Comp Pro';
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    color: white;
    overflow-wrap: break-word;
    letter-spacing: 4px;
}
h2{
    font-family: 'PF Din Text Comp Pro';
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    color:#1C1C1C;
    overflow-wrap: break-word;
}
/*Tag a*/
.yellow-to-white a{
    color: #F6C02A;
}
.yellow-to-white a:hover{
    color: white;
}
.white-to-yellow a{
    color: white;
}
.white-to-yellow a:hover{
    color: #F6C02A;
}
/*Header*/
header{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
}
header a{
    color: #332a00;
    text-decoration: none;
    font-size: 18px;
}
header a:hover{
    color: #F6C02A;
    text-decoration: none;
}
header .input-group-text{
    background: none;
    border-left: 0;
}
header .form-control{
    border-right: 0;

}
header p{
    color: #525252;
    font-size: 17px;
}
header .navbar{
    padding: 0 0;
}
.navbar-nav > .active > a{
    color: #F6C02A;
}
.navbar-toggler{
    background: #332A00;
}
.navbar-toggler i{
    color: #F6C02A;
}
.bold-nav{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
a.nav-link.active{
    color: #F6C02A;
}
.header-social-links{
    position: relative;
    background: #A6A6A6;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    height: 25px;

}
.header-social-links i{
    color: white;
    font-size: 18px;
    line-height: 2;
}
.header-social-links:hover{
    background: #F6C02A;
}
/*Section top*/
.section-top-main-block{
    position: relative;
    overflow:hidden;
    background-color: #F6C02A;
    min-height: 521px;
}
.section-top-main-block-img{
    z-index: 0;
    width: 517px;
    height: 349px;
    top: 86px;
    right: 0;
    left: -150px;
    position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.section-top-block{
    height: auto;
    background-color: #F3F3F3;
    overflow-x: hidden;
}
.section-top a{
    text-decoration: none;
}
.section-top-block h2{
    font-family: 'PF Din Text Comp Pro';
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    color: #A2A2A2;
}
.section-top-block-img{
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 400px;
    height: 287px;
}
.section-top p{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    color: white;
    font-size: 20px;
}
.white-line{
    width: 140px;
    height: 5px;
    background: white;
}
.btn-section-block {
    border: 1px solid white;
    background: transparent;
    color: #332A00;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
}

.btn-section-block:hover{
    color: white;
}
/*Towars*/
.slider-towars{
    margin: 0;
}
.towar{
    max-width: 350px;
    box-shadow: 0 0 10px #e6e6e6;
    border: 1px solid transparent;
}
.towar:hover{
    border: 1px solid #e6e6e6;
    box-shadow: none;
}
.towar:hover .img-container-towar{
    border: 1px solid #e6e6e6;
    box-shadow: none;
}
.towar h3{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #1C1C1C;
}
.towar p{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #525252;
}
.tovar-price{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #1C1C1C;
}
.img-container-towar{
    max-width: 326px;
    max-height: 214px;
    background: white;
    box-shadow: 0 0 10px #e6e6e6;
    border: 1px solid transparent;
}

.img-container-towar>img{
    max-height: 183px;
}
.btn-section-towar{
    font-size: 20px;
    background: #FFD300;
    color: #332A00;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 180px;
    overflow-wrap: break-word;
    font-weight: 500;
    box-shadow: 0 0 5px #FFD300;

}
.btn-section-towar:hover{
    box-shadow: 0 0 0px #FFD300;
    background: #F6C02A;
    color: white;
}
/*Text*/
.text h4{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #525252;
}
.text p{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #525252;
}
.text a{
    color: #f5c029 ;
    text-decoration: underline;
}
/*Price*/
.price{
    background-color: #F5F7F7;
}
.price p{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #525252;
}
.price-collapse{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: bold;
    color: #525252;
    max-width: 330px;
    min-height: 56px;
    font-size: 22px;
    background: white;
    box-shadow: 0 0 10px #e6e6e6;
}
.span-arrow{
    width: 32px;
    height: 32px;
    background-color: #F5F7F7;
    border-radius: 50%;
}
.price-collapse:hover{
    color: #B8B8B8;
    background-color: transparent;
}
.price-collapse:hover .span-arrow{
    color: white;
}
.price-collapse:hover .span-arrow i{
    color: #525252;
}
.span-arrow i{
    font-size: 17px;
    color: #F5C029;
}
.prices-table{
    font-family: 'Cuprum';
    font-style: normal;
    font-size: 17px;
    border-radius: 10px; overflow: hidden;

}
.table td{
    border-top: none!important;
}
.table td:nth-of-type(odd){
    color: #525252;
    font-weight: 500;
}
.table td:nth-of-type(even){
    width: 50%;
    text-align: center;
    color: #1C1C1C;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: white;
}
.table-striped tbody tr:nth-of-type(even){
    background-color: #ECECEC;
}
/*Icons*/
.section-icons p{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #525252;
}
.circle-container{
    display: block;
    width: 102px;
    height: 130px;
}
.circle-yellow{
    background: #F5C029;
    width: 91px;
    height: 91px;
    border-radius: 50%;
    margin-left: auto;
    position:relative;

}
.circle-white{
    background: white;
    width: 91px;
    height: 91px;
    border-radius: 50%;
    position:relative;
    top: -78px;
    margin-right: auto;
    box-shadow: 0 0 10px #e6e6e6;
}
.circle-white img{
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.icons-centered-border:first-child > .row > div{
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.icons-centered-border:last-child > .row > div{
    border-right: 1px solid #e6e6e6;
}
.icons-centered-border:first-child > .row > div:first-child{
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.icons-centered-border:first-child > .row > div:last-child{
    border-bottom: 1px solid #e6e6e6;
    border-right: none;
}
.icons-centered-border:last-child > .row > div:last-child{
    border-right: none;
}
/*Contact form*/
.section-contact-form{
    background: linear-gradient(to right, #F5C029 50%, #F5F7F7 50%);
    font-family: 'Cuprum';
}
.section-contact-form .container{
    background: linear-gradient(to right, #F5C029 50%, #F5F7F7 50%);
}

.section-contact-form h2{
    color: #332A00;
    font-weight: 500;
}
.section-contact-form p{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #332A00;
}
.section-contact-form b{
    font-size: 25px;
}
.section-contact-form input[type=text]{
    max-width: 281px;
}
.section-contact-form textarea{
    min-height: 99px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    resize: none;
    outline: 0 none;
}
/*Complect*/
.complect i{
    color: #525252;
}
/*Tags*/
.tags-cloud>div{
    border: 1px solid #e6e6e6;
}
/*Footer*/
footer{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    background: #161616;
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;

}
footer a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}
footer a:hover{
    color: #F6C02A;
    text-decoration: none;
}
footer p{
    font-size: 17px;
}
.footer-company p{
    color: #B3B3B3;
}
.footer-social-links{
    position: relative;
    background: white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    height: 25px;

}
.footer-social-links i{
    color: #161616;
    font-size: 18px;
    line-height: 2;
}
.footer-social-links:hover{
    background: #161616;
}
.footer-social-links:hover  i{
    color: white;
}

.btn-get-call{
    font-size: 20px;
    background: #ffd300;
    color: #332A00;
    box-shadow: 0px 0px 10px #ffd300;
    padding-left: 20px;
    padding-right: 20px;

}
.btn-get-call:hover{
    color: white;
}
.number{
    font-size: 20px;
    font-weight: bold;
}
.link-grey-dots{
    border-bottom: 1px dotted #525252;
    color: #525252;
}
.link-grey-dot:hover{
    border-bottom: 1px dotted #ffd300;
    color: #ffd300;
}