/*Text*/
.text h4{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #525252;
}
.text p{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #525252;
}
.text a{
    color: #f5c029 ;
    text-decoration: underline;
}

.text li::marker{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
    content: '• ';
    color: #F5C029;
    text-shadow: 0 0 5px #F5C029;
}
.text ul,ol,dl{
    line-height: 2;
}
/*Text-2*/
.section-text-2 a{
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: #f3bf29;
}